.main {
    background: #262728;
    height: 100vh;
}

.page-title {
    text-align: left;
    color: #d6d6d6;
    background: #1d1e1f;
    margin-bottom: 2.5vw;
}

.page-title h1 {
    color: #d6d6d6;
    margin: 4vw 0;
}

.songs-grid {
    background: #262728;
    padding-bottom: 50px;
}
